@import 'bootstrap';

#beta {
    background-color: #FBE7B6;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:0px;
    margin-right:0px;
}
#beta_warning {
    color: #9e0000;
    font-weight: bold;
}
#beta > a {
    color: #004999;
    font-weight: bold;
    text-decoration: underline;
}
