@import 'bootstrap';

#beta {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right :0px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #D1D1D1;
}

#data{
    background-color: #F8B4B4;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10%;
    padding-right: 10%;
}
