<ul class="navbar-nav">
  <li class="nav-item"><%=link_to(t('geoblacklight.home.help'),'https://github.com/ubc-library/geodisy/blob/master/Documentation/FRDR/Help.md', {class: 'nav-link navbar-link'})%></li>
  <li class="nav-item"><%=link_to(t('geoblacklight.home.about'), t('geoblacklight.home.about_uri'), {class: 'nav-link navbar-link'})%></li>
  <li class="nav-item"><%=link_to(t('geoblacklight.home.contact_us'), t('geoblacklight.home.contact_us_uri'), {class: 'nav-link navbar-link'})%></li>
</ul>
