<% document ||= @document %>

<% if document.external_url.present? %>
    <div class="card access">
        <div class="card-header">
          <%= t('geoblackligh.tools.access_data') %>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" >
                <%= link_to document.external_url do %>
                    <%= t('geoblacklight.tools.explore') %><%= document.holding_institute %>
                <% end %>
            </li>
        </ul>
    </div>
<% end %>