@import 'bootstrap';
@import 'geodisy/geo_footer';
@import 'geodisy/geo_beta';

$logo-image: image_url('blacklight/geodisy.svg') !default

.navbar-logo {  /* The main logo image for the Blacklight instance */
  @if $logo-image {
    background: transparent $logo-image no-repeat top left;
  }
}

#beta{
	padding-left:10%;
	padding-right:10%;
}

#betawarning{
 color:red;
}

#map_instructions{
	text-align: left;
	padding-top: 2px;
}

#frdr_logo{
 margin-left: -1px;
 padding-top: 3px;
 }

 .blacklight-dc_description_s {
   white-space: pre-line;
 }

a:link {
    color: #3344dd !important;
}

a:visited {
    color: #884488 !important;
}

a:hover, a:focus, a:active {
    color: #bb1122 !important;
    text-decoration: underline !important;
}

 a.nav-link.navbar-link{
 color: #FAFAFA !important;
 }

a.nav-link.navbar-link:hover, a.nav-link.navbar-link:focus, a.nav-link.navbar-link:active {
    color: #343a40 !important;
    background-color: #FAFAFA;
    text-decoration: underline;
    border-radius: 5px 5px 5px 5px;
}

.btn.btn-primary {
  color: white !important;
}

.download.download-original{
  color: white !important;
}

.leaflet-control-zoom-in:hover {
    color: #3344dd !important;
    text-decoration: none;
}
