@import 'bootstrap';
@import 'geodisy/geo_footer';
@import 'geodisy/geo_beta';

$logo-image: image_url('blacklight/geodisy.svg') !default

.navbar-logo {  /* The main logo image for the Blacklight instance */
  @if $logo-image {
    background: transparent $logo-image no-repeat top left;
  }
}

#beta{
	padding-left:10%;
	padding-right:10%;
}

#betawarning{
 color:red;
}

#map_instructions{
	text-align: left;
	padding-top: 2px;
}

#frdr_logo{
 margin-left: -1px;
 padding-top: 3px;
 }

 .blacklight-dc_description_s {
   white-space: pre-line;
 }

a:link {
    color: #3344dd !important;
}

a:visited {
    color: #884488 !important;
}


a:hover, a:focus, a:active {
    color: #bb1122 !important;
    text-decoration: underline !important;
}

a.btn.btn-primary {
  color: white !important;
}



 a.nav-link.navbar-link, a.nav-link{
 color: #FAFAFA !important;
 }

a.nav-link.navbar-link:hover, a.nav-link.navbar-link:focus, a.nav-link.navbar-link:active, a.nav-link:hover, a.nav-link:focus, a.nav-link:active {
    color: #343a40 !important;
    background-color: #FAFAFA;
    text-decoration: underline;
    border-radius: 5px 5px 5px 5px;
}

.submit-search-text {
  color: white !important;
}

.submit-search-text:hover {
  text-decoration: underline !important;
}
.leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover, .leaflet-control-zoom-in:focus, .leaflet-control-zoom-out:focus, .leaflet-control-zoom-in:active, .leaflet-control-zoom-out:active {
    color: #3344dd !important;
    text-decoration: none !important;
}

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out{
   color: black !important;
}

li.page-item {
  color:#3344dd;
}

li.page-item.disabled{
   color:grey !important;
}

a.page-link {
 color: inherit !important;
}

.card-header.p-0.facet-field-heading:hover, card.facet-limit.blacklight-dc_creator_sm:active, card.facet-limit.blacklight-dc_creator_sm:focus{
  background:#212529;
  color:#f7f7f7;
}

.btn.btn-block.p-2.text-left.collapse-toggle {
  background: inherit;
  color:inherit;
}

a.btn.btn-default.download.download-original{
    color: white !important;
}