@import 'bootstrap';
@import 'geodisy/geo_footer';
@import 'geodisy/geo_beta';

$logo-image: image_url('blacklight/geodisy.svg') !default

.navbar-logo {  /* The main logo image for the Blacklight instance */
  @if $logo-image {
    background: transparent $logo-image no-repeat top left;
  }
}

#beta{
	padding-left:10%;
	padding-right:10%;
}

#betawarning{
 color:red;
}

#map_instructions{
	text-align: left;
	font-weight: bold;
	padding-top: 2px;
}

#frdr_logo{
 margin-left: -1px;
 margin-bottom: -1px;
 }
